#logo {
  margin-left: 30px;
}

#navbarSupportedContent a {
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
}

#navbar-pad {
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
}

p {
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
}

.dropdown-menu a {
  font-weight: normal;
  color: #3a4856;
  font-size: 18px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

#navbar-button {
  padding: 10px 30px 10px 30px;
  width: 180px;
  background-color: #3a4856;
  border: 0px;
}

#navbar-button:hover {
  background-color: #155291;
}

.navbar-link {
  margin-top: 2px;
  margin-right: 30px;
  color: #3a4856;
}

.bg-image {
  background-image: url("assets/header.png");
  background-size: cover;
  background-position: center;
  height: 800px;
  width: auto;
  color: white; /* To make text white */
}

.text-on-image {
  position: absolute;
  top: 180px;
  z-index: 1;
}

.consult-button {
  background-color: #97afb9;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  border: 0px;
  padding: 16px 90px 16px 90px;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
}

.consult-button:hover {
  background-color: #155291;
}

.header-box {
  width: 50%;
  height: auto;
  margin-left: 400px;
  margin-right: 400px;
}

.header-text {
  font-weight: bold;
  font-size: 54px;
}

.gray-box .row {
  position: absolute;
  float: none;
  top: 760px;
  left: 12.5%;
  z-index: 1;
  background-color: #f5f5f5;
  margin: auto;
  width: 75%;
  padding: 32px 48px 32px 48px;
  text-align: center;
}

.gray-box h2 {
  font-size: 72px;
  letter-spacing: 2px;
}

.gray-box p {
  margin-left: 63px;
  margin-right: 63px;
}

.gray-box h2 + p {
  margin-top: 8px;
}

.clients-header {
  background-color: #97afb9;
  color: white;
  width: 100%;
  height: 290px;
}

.clients-header h2 {
  transform: translateY(190px);
  font-size: 54px;
  text-align: center;
}

.client-list {
  background-color: #f5f5f5;
  max-width: 100%;
}

.client-list img + img {
  margin-left: 100px;
}

.services {
  padding: 65px 50px 0px 50px;
}

.services h2 {
  font-size: 54px;
}

.services-cols img {
  margin-top: 50px;
  margin-bottom: 50px;
}

.services-card {
  height: 200px;
  padding: 24px 60px 24px 60px;
}

.services-card-long {
  height: 200px;
  padding: 8px 60px 8px 60px;
}

.services-card h3 + p {
  margin-top: 16px;
}

.services-read-more {
  background-color: #3a4856;
  color: white;
  width: 500px;
  border: 0px;
  margin-top: 32px;
  margin-bottom: 65px;
  padding: 19px 95px 19px 95px;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
}

.compliance-box {
  background-color: #f5f5f5;
  width: 100%;
  margin: auto;
  border-radius: 16px;
  height: 628px;
  filter: drop-shadow(hsl(0, 0%, 80%) 8px 8px 4px);
  font-size: 18px;
}

.compliance-box img {
  position: relative;
  left: 150px;
  margin-top: 64px;
  height: 500px;
  width: auto;
}

.compliance-box-text {
  position: relative;
  right: 50px;
  width: 500px;
  padding: 0px 25px;
  margin-top: 35px;
  line-height: 150%;
  font-size: 24px;
}

.compliance-box-text h3 {
  font-size: 54px;
}

.compliance-box-text h3 + p {
  margin-top: 33px;
}

.compliance-box-text p + p {
  margin-top: 33px;
  margin-bottom: 33px;
}

.download-compliance {
  background-color: #3a4856;
  color: white;
  width: 300px;
  border: 0px;
  padding: 19px 30px 19px 30px;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
}

.why-choose-us h3 {
  margin-top: 52px;
  margin-bottom: 52px;
  font-size: 54px;
}

.choose-cards {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  border-radius: 50px;
}

.choose-cards img {
  width: 647px;
  height: 400px;
  border-radius: 0px;
}

.choose-cards h4 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
}

.choose-cards p {
  margin-left: 20px;
  color: #68717a;
}

.choose-card-text {
  margin: auto;
}

.dark {
  background-color: #dee2e6;
  height: 400px;
}

.faq-answers p {
  text-align: left;
}

.accordion-button:not(.collapsed) {
  background-color: #3a4856;
  color: white;
}

.accordion-button {
  transition: background-color 0.3s ease;
}

/* Custom hover effect for questions */
.accordion-button:hover {
  background-color: #155291;
  color: white;
}

.dark-bg {
  background-color: #dee2e6;
}

.ender-cards {
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
  border-radius: 50px;
}

.ender-cards img {
  width: auto;
  height: 800px;
  border-radius: 0px;
}

.ender-card-text {
  margin: auto;
  padding: 100px 50px;
}

.ender-card-text h2 {
  font-size: 54px;
  margin-bottom: 50px;
}

.ender-card-text p {
  font-size: 24px;
  margin-bottom: 50px;
}

.ender-button {
  background-color: #3a4856;
  color: white;
  width: 500px;
  border: 0px;
  padding: 19px 30px 19px 30px;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 28px;
}

/* Footer */
footer {
  margin: 96px 0px;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
}

.text-body-secondary {
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  color: #ffffff !important;
}

.text-body-secondary:hover {
  text-decoration: underline;
}

footer h3 {
  font-weight: 700;
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .get-connected-icons i {
  font-size: 24px;
}

.cadet-gray {
  background-color: #97afb9;
}

.gray {
  background-color: #dee2e6;
}

.sky-blue {
  background-color: #6ebeda;
}

.non-photo-blue {
  background-color: #93e2ff;
}

.cadet-gray {
  background-color: #97afb9;
}

.charcoal {
  background-color: #3a4856;
}

.black {
  background-color: #08090a;
}

.gray {
  background-color: #dee2e6;
}

.text-cadet-gray {
  color: #3a4856;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}
h2,
h3 {
  font-weight: 700;
}
h4 {
  font-weight: 600;
}
/* Navigation Bar */
#logo {
  margin-left: 30px;
}

#navbarSupportedContent a {
  font-family: "Kumbh Sans", Georgia, "Times New Roman", serif;
  font-weight: bold;
  font-size: 18px;
}

#navbar-pad {
  margin-bottom: 20px;
}

.dropdown-menu a {
  font-weight: normal;
  color: #3a4856;
  font-size: 18px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

#navbar-button {
  padding: 10px 30px 10px 30px;
  width: 180px;
  background-color: #3a4856;
  border: 0px;
  margin: 0px 10px;
}

#navbar-button:hover {
  background-color: #155291;
}

.navbar-link {
  margin-top: 2px;
  margin-right: 30px;
  color: #3a4856;
}

/* Footer */
footer {
  margin: 96px 0px;
}
footer h3 {
  font-weight: 700;
}
footer .get-connected-icons i {
  font-size: 24px;
}
footer .text-body-secondary,
footer h3 {
  color: #ffffff !important;
}

/* Testimonial Page*/
.scrollable-div {
  width: 100%;
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.card {
  height: 100%;
}

.card-img-top {
  height: 40%;
  object-fit: cover;
}

/* Contact Us Page */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  text-align: center;
}

.form-container {
  border-radius: 16px;
  border: none;
  box-shadow: 0px 4px 4px #c0c0c0;
}

.form-container h2 {
  color: #055160;
}

.btn-primary {
  background-color: #3a4856;
  border: none;
}

#navbar-button:hover,
.btn-primary:hover {
  background-color: #97afb9;
}

.left-column {
  background-color: #e9ecef;
  border-radius: 16px 0px 0px 16px;
}

.left-column i {
  font-size: 24px;
}

.left-column .get-connected-icons i {
  font-size: 40px;
  margin: 8px 12px;
}
